/*Limpar formatações padrão*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: url(../imagens/bg.jpg);
}

/*
**** Layout ****
*/
#area-cabecalho {
	background-image: url(../imagens/bg.jpg);
	padding: 15px;
	text-align: center;
}


#area-menu a{
	font-size: 20px;
}

#area-principal {
	width: 920px;
	margin: 0 auto;
	padding: 1rem;
}

#area-postagens {
	width: 920px;
	float: center;
	text-align: center;
}

#area-sobrenos {
	width: 920px;
	float: center;
	text-align: center;
}

article#localizacao {
	float: center;
	width: 880px;
	margin-top: 1rem;
}

article#sobrenos {
	float: center;
	width: 880px;
}

#area-lateral {
	width: 240px;
	float: right;
}

.postagem-sobrenos {
	padding: 1.1rem;
	margin-bottom: 1.1rem;
	background: #20202067;
}

.postagem{
	padding: 1.1rem;
	margin-bottom: 1.1rem;
	background: #20202067;

}

#rodape {
	clear: both;
	text-align: center;
	padding: 1rem;
	background: #202020c7;
	color: #f7b600;
}

/*
**** Formatação do menu ****
*/

.postagem a{
	display: flex;
}

.link {
	text-decoration: none;	
	color: white;
	padding-left: 1rem;
	display: block;
	text-align: center;
}

#emailcontato a{
	color: #FFF;
}

.link a:link, a:visited {

}

.link:hover {
	text-decoration: none;
	color:#f7b600;
}

.link a:hover {
	text-decoration: underline;
}

#area-cabecalho a:link, #area-cabecalho a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-cabecalho a:hover {
	color: #f7b600;
	text-decoration: none;
}

/*
**** Formatações em geral ****
*/
.tituloprincipal {
	color: #4e4e4e;
	font-size: 2.5em;
}

.titulosecundario {
	color: #f7b600;
	padding: 1px;
}

.tituloterciario {
	color: #000;
	padding: 5px;
}

.branco {
	color: white;
}

.data-postagem {
	font-size: 1rem;
	border-bottom: 1px solid #f4f4f4;
	padding-bottom: 10px;
	margin-bottom: 10px;
	display: block;
	color: #FFF;
}

.texto-sobrenos {
	font-size: 1rem;
	display: block;
	color: #FFF;
}

.subtitulo {
	height: 1.1rem;
	
}

.paragrafo{
	color: white;
}

.celular{
	color: #f7b600;
	padding-right: 265px;

}

.nome{
	color: #f7b600;
	padding-right: 270px;
}

.email{
	color: #f7b600;
	padding-right: 275px;
}

.repetesenha{
	color: #f7b600;
	padding-right: 215px;
}



#botao{
	width:38%;
	padding: 15px 0;
	background: #f7b500e8;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition-duration: 0.4s;
	
}

#botao:hover{
	background-color: white;
	color: #f7b500e8;
}

.formulario {
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 326px;
	background: #f7b500e8;
	border: 1px solid #000;
	border-radius: 25px;
	transition: all 0.5s;
	padding-left: 1%;
	color: white;
}

body.home a#home,
body.contato a#contato,
body.sobre a#sobre,
body.login a#login {
    color: #f7b600;
    cursor: text;
}
 
.caixa {
	margin: 10px 0;
	padding: 5px;
	background: #20202067;
}

.postagem-sobrenos{
	text-align: center;
}

.negrito {
	color: #fff;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	
}

.navbar-light .navbar-nav .nav-link:hover {
	
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

footer .navbar-nav a {
	color: white;
	font-size: 0.8em;
}

footer .navbar-nav a:hover {
	color: #9bf0e1;
	text-decoration: none;
}